{% extends 'base.html' %}

{% block content%}

<style>
    .u1{
        padding-left: 700px;
        padding-top: 50px;
        font-size: 40px;
        
    }
    .pimg{
        width: 300px;
        height: 300px;
        margin-left: 160px;
        margin-top: -160px;
        object-fit: cover;
        border-radius: 100%;
    }
    .upimg{
        margin-left: 720px;
        margin-top: -80px;
    }
    .ff{
        margin-top: 70px;
    }
</style>

<div class="u1">
<b> User:</b> {{user.username}} <br>
<b>Email:</b> {{user.email}} <br>
</div> 
<div class="profile image">
<img src="{{image.image.url}}" class="pimg" alt="image"> <br>
</div>
<div class="upimg">
    <button class="btn btn-info"> <a href="{% url 'updatei' image.id %}">Update Image</a></button>
    <button class="btn btn-danger">Change Password</button>
</div>
<br>
<style>
    .center{
        display:table;
        margin: auto;
    }
    .image{
        width: 230px;
        height: 330px;
        object-fit: cover;
        margin-top: 67px;
        border-radius: 10px;
        object-fit: cover;
        transition: 0.5s;
    }
    .image:hover{
        transform: scale(1.1);
        box-shadow: 9px 8px 40px 0px black;
      }
</style>

<div class="container center">
    <hr>
    <div class="row">
{% for i in da3 %}
        <div class="col-lg-4">
<img src="{{i.image.url}}" alt="img" class="image center">  <br>
<!-- <h5 style="text-align: center;"> {{i.description}} </h5> -->
<h2 class="center"><b> {{i.title}}</b> </h2>
<a href="{% url 'readmore' i.id %}" class="center">{{i.descrip}} </a>
</div>
{% endfor %}
</div>
</div>

{% endblock %}