{% extends 'base.html' %}

{% block content %}

<style>
    .center{
        display:table;
        margin: auto;
    }
    .image{
        width: 230px;
        height: 330px;
        object-fit: cover;
        margin-top: 67px;
        border-radius: 10px;
        object-fit: cover;
        transition: 0.5s;
    }
    .image:hover{
        transform: scale(1.1);
        box-shadow: 9px 8px 40px 0px black;
      }

</style>
<div class="container center">
    <div class="row">
{% for i in data %}
{% if i.Permission is True  %}

        <div class="col-lg-4">
<img src="{{i.image.url}}" alt="img" class="image center">  <br>
<h2 class="center"><b> {{i.title}}</b> </h2>
<a href="{% url 'readmore' i.id %}" class="center" style="color: white;">Readmore {{i.title}} </a>
<h5 style="text-align: center;"> By - <b> {{i.created_by}} </b></h5>

</div>
{% endif %}
{% endfor %}
</div>
</div>
{% endblock%}